* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  font-family: var(--font-rubik);
  max-width: 100vw;
  overflow-x: hidden;
  margin: 0.5rem;
  background-color: rgb(25, 25, 32);
  color: white;
}

button {
  border: none;
  font-family: inherit;
  border-radius: 5px;
  font-size: 1rem;
  padding: 0.4rem 0;

  &:not(:disabled) {
    cursor: pointer;
  }
}