* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  font-family: var(--font-rubik);
  max-width: 100vw;
  overflow-x: hidden;
  margin: 0.5rem;
  margin-bottom: 1.5rem;
  background-color: rgb(25, 25, 32);
  color: white;
}

button {
  border: none;
  font-family: inherit;
  border-radius: 5px;
  font-size: 1rem;
  padding: 0.4rem 0;
  transition: background-color 80ms !important;

  &:not(:disabled) {
    cursor: pointer;
  }
}

a {
  color: rgb(101, 203, 232);
}

footer {
  text-align: center;
  color: rgb(159, 159, 200);
}