.wrapper {
  &>p {
    color: gray;
    margin-top: 0 !important;
    margin-bottom: 0.4rem !important;
  }

  &>div {
    box-sizing:content-box;
    border-radius: 10px;
    overflow: hidden;
    border: solid 2px;
    border-color: rgb(62, 62, 62);

    & * {
      font-family: 'Roboto Mono', 'Menlo', monospace;
    }

    &[data-highlight=green] {
      border-color: rgb(161, 229, 161);
    }

    &[data-highlight=red] {
      border-color: red;
    }
  }
}